[package]
name = "bms-table"
version = "0.3.0"
edition = "2021"
rust-version = "1.78.0"
license = "MIT"
description = "BMS难度表数据获取器"
authors = ["MiyakoMeow"]
repository = "https://github.com/MiyakoMeow/bms-table-rs"
documentation = "https://docs.rs/bms-table"
categories = ["data-structures", "games"]
keywords = ["bms", "table", "data", "fetch", "parser"]

[features]
default = ["reqwest"]
reqwest = ["scraper", "dep:reqwest", "dep:tokio"]
scraper = ["dep:scraper", "dep:url"]

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
anyhow = "1.0"

scraper = { version = "0.24", optional = true }
url = { version = "2", optional = true }

reqwest = { version = "0.12", features = ["json"], optional = true }
tokio = { version = "1", features = [
    "macros",
    "rt-multi-thread",
    "test-util",
], optional = true }
